<div class="panel panel-primary text-left" >

  <div class="panel-heading" >
    {{pageTitle + ': ' + productId}}
  </div>

  <div class="panel-body" *ngIf="product" >
    {{pageTitle + ': ' + product.productName}}
  </div>

  <div class="panel-footer" >
    <button class="btn btn-primary" (click)="onBack()" >
      < Back
    </button>
  </div>
</div>
