<div class="panel panel-primary text-left" >

  <div class="panel-heading" >
    {{pageTitle}}
  </div>

  <div class="panel-body" >
    <div class="row" >
      <div class="col-md-2" >
        Filter By:
      </div>
      <div class="col-md-4" >
        <input type="text" [(ngModel)] = 'productFilter' placeholder="Filter Sting goes here " >
      </div>
    </div>
    <div class="row" >
      <div class="col-md-6" >
        <h3>Filtered By: {{productFilter}} </h3>
      </div>
    </div>

    <div class="table-responsive" *ngIf="products && products.length" >
      <table class="table" >
        <thead >
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImages()"  >
                {{showImage ? 'Hide' : 'Show'}} Images
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>Star Ratings</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts" >
            <td><img *ngIf="showImage" [src] = 'product.imageUrl'
                  [title] = 'product.productName'
                  [style.width.px] = 'imageWidth'
                  [style.margin.px] = 'imageMargin'
            /></td>
            <td><a [routerLink] ="['/products', product.productId]" >{{ product.productName  }}</a></td>
            <td>{{ product.productCode | codeFormatter:'@' | lowercase }}</td>
            <td>{{ product.releaseDate | date:'MMM dd yyyy' }}</td>
            <td>{{ product.price | currency : 'AUD':true:'2.2' }}</td>
            <td><pm-star [rating] = 'product.starRating' (clicked)="onRatingClicked($event)" ></pm-star></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
