<!--<div class="navbar navbar-default navbar-fixed-top">
  <div class="container" >
    <h1>Job Scheduler Admin</h1>
    <ul class="nav navbar-nav" >
      <li><a [routerLink] ="['/welcome']" >Home</a></li>
      <li><a [routerLink] ="['/jobs']" >Job List</a></li>
      &lt;!&ndash;<li><a [routerLink] ="['/jobQ']" >Job Q</a></li>&ndash;&gt;
    </ul>
  </div>
</div>-->


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink] ="['/welcome']" >Job Scheduler Admin</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink] ="['/jobs']" >Job List</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


  <!--<div id="header" class="container">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <h1>Job Scheduler Admin</h1>
        <ul class="nav navbar-nav" >
          <li><a [routerLink] ="['/welcome']" >Home</a></li>
          <li><a [routerLink] ="['/jobs']" >Job List</a></li>
        </ul>
        <div class="clear spacer"></div>
      </div>
    </div>
  </div>-->

<div class="container" style="padding-top: 70px" >
  <router-outlet></router-outlet>
</div>
