<div class="container ng-cloak">

    <!-- Left column -->
    <div class="col-lg-3 left-column">
      Filter
    </div>
    <!-- End of left column -->

    <!-- Right column -->
    <div class="col-lg-9 right-column">

      <div class="row" *ngIf="!jobs.length" >
        No Jobs
      </div>

      <div class="row card" *ngFor="let job of jobs" >

        <div class="col-lg-6">
          <p>{{ job.id  }} : <a [routerLink] ="['/jobs', job.id]" title="Task Details" >{{ job.jobName  }}</a></p>
          <p>{{ job.jobType  }}</p>
          <p>{{ job.jobDesc  }}</p>
        </div>

        <div class="col-lg-6 text-right">
          <p>
            <a [routerLink] ="['/schedule', job.id]" >
              <button type="button" class="btn btn-default btn-sm" title="Schedule It" >
                <span class="glyphicon glyphicon-star-empty" ></span>
              </button>
            </a>
            <a [routerLink] ="['/viewSchedule', job.id]" >
              <button type="button" class="btn btn-default btn-sm" title="Scheduling Details" >
                <span class="glyphicon glyphicon-briefcase" ></span>
              </button>
            </a>
          </p>
        </div>

      </div>

    </div>
  <!-- End of right column -->

</div>

