<div class="panel panel-primary text-left" >

  <div class="panel-heading" >
    {{pageTitle + ': ' + job.jobName}}
  </div>

  <div class="panel-body" *ngIf="job" >
    <div class="card-holder" *ngFor="let detail of job.details" >
      <div class="col-lg-12 card" >
        <div class="col-lg-6" >
          <p>{{ detail.id.seqNum }}</p>
          <p>{{ detail.id.task.taskName }}</p>
          <p>{{ detail.id.task.taskType }}</p>
          <p>{{ detail.id.task.taskDesc }}</p>
        </div>
        <div class="col-lg-6 text-right" >
          <p>
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-remove" title="Remove this task" ></span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-footer" >
    <button class="btn btn-primary" (click)="onBack()" >
      < Back
    </button>
  </div>

</div>
