<!--The whole content below can be removed with the new code.-->
<div class="navbar navbar-default">
  <div class="container-fluid" >
    <ul class="nav navbar-nav" >
      <li><a [routerLink] ="['/welcome']" >Home</a></li>
      <li><a [routerLink] ="['/products']" >Product List</a></li>
      <li><a [routerLink] ="['/jobs']" >Job List</a></li>
    </ul>
  </div>
  <div class="container" >
    <router-outlet></router-outlet>
  </div>
  <!-- <pm-products></pm-products> -->
</div>
