﻿.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  padding: 5px;

}

.card-holder {
  padding-bottom: 25px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.status-F {
  background-color:  #abebc6;
}

.status-R {
  background-color: #89a308;
}

.status-S {
  background-color:  #e59866;
}

.indent-right {
  padding-left: 15px;
}

.indent-left {
  padding-right: 15px;
}
