﻿<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="container">

  <div class="row text-center" >
    Page will auto refresh in {{countDown | async}} sec. <a (click)="refreshData()" >Refresh Now</a>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#dashboard">Dashboard</a></li>
    <li><a data-toggle="tab" href="#listView">List View</a></li>
  </ul>

  <div class="tab-content">

    <div id="dashboard" class="tab-pane fade in active">
      <pie-chart></pie-chart>
    </div>

    <div id="listView" class="tab-pane fade">
      <br>

      <div *ngIf="showHideFilter" >
        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <input type="" class="form-control" [(ngModel)]="status" placeholder="Filter By: Job Status">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <input type="email" class="form-control" [(ngModel)]="name" placeholder="Filter By: Job Name">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <input type="date" class="form-control" [(ngModel)]="date" >
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <input type="time" class="form-control" [(ngModel)]="time" >
          </div>
        </div>
      </div>

      <div class="text-right indent-left">
        <a (click)="showHideFilter = !this.showHideFilter">{{showHideFilter ? 'Hide' : 'Show'}} Filter </a>
      </div>
      <br>

      <div class="card" *ngFor="let job of jobQStatus " >
        <div class="row card status-{{job.status}}" >
          <div class="col-lg-6" >
            <p>Scheduled to be run at {{ job.scheduledFor | date: 'HH:mm:ss' }} </p>
            <p>Last updated on {{ job.lastUpdated | date: 'HH:mm:ss' }} </p>
          </div>
          <div class="col-lg-6 text-right" >
            <p>{{ job.statusDetail }} </p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
