<div class="panel panel-primary text-left" >

  <div class="panel-heading" >
    {{pageTitle}}
  </div>

  <div class="panel-body" >
    <div class="table-responsive" *ngIf="jobs && jobs.length" >
      <table class="table" >
        <thead >
        <tr>
          <th>Job Id</th>
          <th>Status</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let job of jobs" >
          <td>{{ job.id }}</td>
          <td>{{ job.jobName }}</td>
          <td>{{ job.jobType }}</td>
          <td>{{ job.jobDesc }}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
