<div class="container">

  <div class="row card" *ngFor="let job of jobQ" >

    <div class="row card status-{{job.status}}" >
      <div class="col-lg-6" >
        <p>Scheduled to be run every {{ job.repeatDuration }} {{ job.frequency }}
          <span *ngIf="job.repeatTimes" >, ({{ job.repeatTimes  }} times)</span>
        </p>
        <p>Last Ran on : <a [routerLink] ="['/jobQ', job.id, 'jobs']" >{{ job.lastRun | date: 'MM-dd-yy, HH:mm:ss'  }}</a></p>
        <p>Next Run scheduled for : {{ job.nextRun | date: 'MM-dd-yy, HH:mm:ss'  }}</p>
      </div>
      <div class="col-lg-6 text-right" >
        <p>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-remove" title="Unschedule this job" ></span>
          </button>
        </p>
      </div>
    </div>

  </div>

</div>
