.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;

}

.card-holder {
  padding-bottom: 25px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.status-A {
  background-color:  #abebc6;
}

.status-R {
  background-color: #89a308;
}

.status-F {
  background-color:  #e59866;
}
