<div class="panel panel-primary text-left" >

  <div class="panel-body">
    <div class="card-holder" *ngFor="let job of jobQ" >
      <div class="col-lg-12 card" >
        <div class="col-lg-6" >
          <p>Job # {{job.job.id}} scheduled to be run <a [routerLink] ="['/jobQ', job.id, 'jobQ']" >{{ job.frequency }}</a>
            <span *ngIf="job.repeatTimes" >, ({{ job.repeatTimes  }} times)</span>
          </p>
          <p>Last Ran on : {{ job.lastRun | date:'MMM dd yyyy'  }}</p>
          <p>Next Run scheduled for : {{ job.nextRun | date: 'MM-dd-yy, HH:mm:ss'  }}</p>
        </div>
        <div class="col-lg-6 text-right" >
          <p>
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-remove" title="Unschedule this job" ></span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
